## /usr/lib/systemd/system/dbus.socket
 [Unit]
 Description=D-Bus System Message Bus Socket
 
 [Socket]
 ListenStream=/run/dbus/system_bus_socket
 [Install]
 Alias=dbus-broker.socket
 Alias=dbus.socket
