## /usr/lib/systemd/system/power-profiles-daemon.service
 [Unit]
 Description=Power Profiles daemon


 
 [Service]
DynamicUser=yes
 Type=simple
 BusName=org.freedesktop.UPower.PowerProfiles
 # To enable debugging add a -vv to the ExecStart line
 ExecStart=/usr/lib/power-profiles-daemon
 Restart=on-failure
 # This always corresponds to /var/lib/power-profiles-daemon
 StateDirectory=power-profiles-daemon
 
 # Lockdown
 CapabilityBoundingSet=""
 IPAddressDeny=any
 LockPersonality=yes
 MemoryDenyWriteExecute=yes
 NoNewPrivileges=yes
 ProtectKernelLogs=yes
 ProtectSystem=strict
 RemoveIPC=yes
 RestrictAddressFamilies=AF_UNIX 
 MemoryDenyWriteExecute=true
 RestrictSUIDSGID=yes
 SystemCallFilter=@system-service
 SystemCallFilter=~@resources @privileged
 SystemCallErrorNumber=EPERM
 SystemCallArchitectures=native
